In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def bar_graph(x, y, title, xlbl, ylbl, lglbl):
    # Bar graph
    plt.bar(x,y, label=lglbl)
    # X and Y labels
    plt.xlabel(xlbl)
    plt.ylabel(ylbl)
    # Title of the graph
    plt.title(title)
    # Legend
    plt.legend()
    # Show the graph
    plt.show()

In [3]:
# Path to the files
train_data_path = os.getcwd() + '/train.csv'
test_data_path = os.getcwd() + '/test.csv'

# Training dataset
train_data = pd.read_csv(train_data_path)

# View the first 5 records
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
## Dataset variables
# PassengerId - Passeger ID
# Survived - Whether the passenger survived or not (0 - No, 1 - Yes)
# Pclass - Passenger class (1 - First, 2 - Second, 3 - Third)
# Name - Name of the passenger (Mr, Mrs, Master, Miss)
# Sex - Gender of the passenger (Male, Female)
# Age - Age of the passeger (0.42 to 80)
# SibSp - Number of siblings/Spouses aboard (0, 1, 2, 3, 4, 5, 8)
# Parch - Number of parents/children aboard (0, 1, 2, 3, 4, 5, 6)
# Ticket - Ticket number **
# Fare - Passenger fare in British pound **
# Cabin - Cabin **
# Embarked - Port of embarkation (C - Cherbourg, Q - Queenstown, S - Southampton, Nan)

In [49]:
# Names of passengers
## Master
master = train_data[train_data['Name'].str.contains('Master')]
## Mr
mr = train_data[(train_data['Name'].str.contains('Mr')) & (train_data['Sex'] == 'male')]
## Mrs
mrs = train_data[train_data['Name'].str.contains('Mrs')]
## Miss
miss = train_data[train_data['Name'].str.contains('Miss')]
## Major
major = train_data[train_data['Name'].str.contains('Major')]

train_data[~train_data['Name'].str.contains('Mr|Mrs|Miss|Ms|Mlle|Mme|Master|Major|Rev')]
# train_data[train_data['Name'].str.contains('Capt')]

# train_data[~train_data['Name'].str.contains('Mr|Mrs|Miss|Master|Dr|Major|Ms|Rev|Don|Mme|Col|Mlle|Capt|Countess|Jonkheer')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
317,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.0000,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.5000,A26,C
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,NaN,S
694,695,0,1,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S

In [5]:
# Passenger class

## Number of passengers in each class
ps_num = train_data.groupby(['Pclass']) ['Pclass'].count()
### Series
# ps_num
### Bar graph
# ps_num.plot.bar()
# plt.title('Number of passengers in each class')
# plt.ylabel('Number of passengers')
# plt.show()

## Number of passengers who survived and those who didn't
ps_survive = train_data.groupby(['Pclass', 'Survived']) ['Pclass'].count()
### Series
# ps_survive
### Bar graph
# ps_survive.unstack().plot(kind='bar')
# plt.title('Survival based on the passenger class')
# plt.ylabel('Number of passengers')
# plt.show()

In [6]:
# Sex

## Number of male/female passengers
sex_num = train_data.groupby(['Sex']) ['Sex'].count()
### Series
# sex_num
### Bar graph
# sex_num.plot(kind='bar')
# plt.title('Number of male/female')
# plt.ylabel('Number of passengers')
# plt.show()

## Number of passengers who survived based on gender
sex_survive = train_data.groupby(['Sex', 'Survived']) ['Survived'].count()
### Series
# sex_survive
### Number of passengers who survived
# sex_survive.unstack().plot(kind='bar')
# plt.title('Survival based on passenger sex')
# plt.ylabel('Number of passengers')
# plt.show()

In [7]:
# Age

# Replacing NaN values with appropriate ages

# train_data[train_data['Age'].isna()] = 177
# train_data['Age'].mean() = 29
# train_data['Age'].mode() = 24
# len(train_data[train_data['Age'] == 24.0]) = 30
# len(train_data[train_data['Age'] == 29.0]) = 20
# na = train_data[train_data['Age'].isna()]
# na.tail()
# grown_males = na[(na['Name'].str.contains('Mr')) & (na['Sex'] == 'male')] = 119
# grown_females = na[(na['Name'].str.contains('Mrs|Miss')) & (na['Sex'] == 'female')] = 53
# na[~na['Name'].str.contains('Mr|Mrs|Miss|Master')]

# ## Convert the ages to categories
# def age_category(age):
#     if age > 0 and age < 8:
#         return 'Small'
#     elif age > 7 and age < 15:
#         return 'Medium'
#     elif age > 14 and age < 22:
#         return 'Large'

# train_data['Age'] = train_data['Age'].apply(lambda x:int(x))
# train_data.head()